<div class="container">
  <h1>RPi-Tracker Control Panel</h1>

  <div class="row">
    <div class="span4">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Log Files</a></li>
        <li><a href="#tab2" data-toggle="tab">WiFi</a></li>
        <li><a href="#tab3" data-toggle="tab">Settings</a></li>
      </ul>

      <div class="tab-content" >
        
        <div class="tab-pane active" id="tab1">
        
          <div class="row">
            <div class="col-xs-12">
              <a class="btn btn-warning center-block" href="#/" role="button" id="trackingControlBtn">Stop Tracking</a>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-12">
              <form>
                
                <div class="form-group">
                  <label for="logFile">Select a Log File:</label>
                  <select class="form-control" name="logFile" id="logFile">
                    <option value="" hidden></option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="fileFormat">Select a Format:</label>
                  <select class="form-control" name="fileFormat" id="fileFormat">
                    <option value="KLS">KML Line String</option>
                    <option value="GLS">GeoJson Line String</option>
                    <option value="KPT">KML Point with Timestamp</option>
                    <option value="GPT">GeoJson Point with Timestamp</option>
                  </select>
                </div>
            </form>
            </div>            
          </div>
          
          <div class="row">
            <div class="col-xs-6">
              <a class="btn btn-danger center-block" href="#/" role="button" id="deleteLogBtn">Delete</a>
            </div>
            
            <div class="col-xs-6">
              <a class="btn btn-success center-block" href="#/" role="button" id="downloadLogBtn">Download</a>
            </div>
          </div>
          
        </div>

        <div class="tab-pane" id="tab2">
          <p>This tab will allow the user to control the WiFi settings, switching back and forth between <b>wireless client</b> and <b>access point</b> modes.</p>
        </div>

        <div class="tab-pane" id="tab3">
          <p>This tab will allow the user to set general settings.</p>
        </div>
        
      </div> <!-- /tab-content -->
    </div>

  </div> <!-- /row -->
</div>

<script type=text/javascript>
  var isTracking = true;
  
  $(document).ready(function() {
    //debugger;
  
    //Retrieve the list of log files from the server and use the data to build out the drop-down list.
    $.get('/listLogFiles', '', function(data) {
      //debugger;
      
      var fileList = data;
      
      for( var i = 0; i < fileList.length; i++ ) {
      
        //Clone the example option provided in the template.
        var tempOption = $('#logFile').find('option').first().clone();

        //Populate the select element with data from the model.
        var fileDate = data[i].slice(18,28);
        tempOption.text(fileDate);
        tempOption.val(fileDate);

        //Remove the 'hidden' attribute copied from the example row.
        tempOption.show();

        //Append the new row to the DOM.
        $('#logFile').append(tempOption);
      }
      
    });
  
    //Query the state of the tracking device
    $.get('/queryTracking', '', function(data) {
      debugger;
      
      //Have the Start/Stop button reflect the current state of the tracking device.
      if(!data) {
        $('#trackingControlBtn').removeClass('btn-warning');
        $('#trackingControlBtn').addClass('btn-success');
        $('#trackingControlBtn').text('Start Tracking');
        isTracking = false;
      } else {
        //The control button displays 'Stop Tracking' by default on load.
        isTracking = true;
      }
    });
  
    //Create click handler for Stop/Start Tracking button.
    $('#trackingControlBtn').click(function() {
      debugger;
      
      //Toggle the state of the tracking device.
      if(isTracking) {
        var changeState = false;
        $.get('/queryTracking', changeState, function(data) {
          debugger;
        });
      } else {
        var changeState = true;
        $.get('/queryTracking', changeState, function(data) {
          debugger;
        });
      }
      
      
      
    });
  
    //Create click handler for Download button
    $('#downloadLogBtn').click(function() {
      debugger;
    });
  
    //Create click handler for Delete button
    $('#deleteLogBtn').click(function() {
      debugger;
    });
  
  })
</script>