<div class="container">
  <h1>RPi-Tracker Control Panel</h1>

  <div class="row">
    <div class="span4">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Log Files</a></li>
        <li><a href="#tab2" data-toggle="tab">WiFi</a></li>
        <li><a href="#tab3" data-toggle="tab">Settings</a></li>
      </ul>

      <div class="tab-content" >
        
        <div class="tab-pane active" id="tab1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione labore dignissimos repellendus repudiandae. Quod, eius cupiditate repellendus repudiandae repellat.</p>
        </div>

        <div class="tab-pane" id="tab2">
          <p>Content 2</p>
        </div>

        <div class="tab-pane" id="tab3">
          <p>Content 3</p>
        </div>
        
      </div> <!-- /tab-content -->
    </div>

  </div> <!-- /row -->
</div>